.jam-submit-button {
    margin: 25px 0px 10px 0px;
    padding: 7px 10px;
    border: 1px solid #efffff;
    border-radius: 3px;
    background: #3085d6;
    width: 100%;
    font-size: 15px;
    color: white;
}

.jam-submit-button.disabled {
    background: #6c757d;   
}

.jam-form {
    justify-content: center;
    padding: 30px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    background: #f5f5f5;
    width: 450px;
}

.jam-title-text {
    font-size: 20px;
    text-align: center;
    margin: 0px;
}

.jam-form-label {
    margin: 10px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.jam-form-input, .jam-form-input-error input, .jam-form-input-dropdown input {
    margin: 10px 0px;
    padding: 5px;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
}

.jam-form-input-error {
    position: relative;
}

.jam-form-input-error span {
    position: absolute;
    top: 18px;
    right: 5px;
    font-size: 10pt;
    color: red;
}

.jam-form-input-dropdown {
    position: relative;
    z-index: 100;
}

.jam-form-input-dropdown ul {
    position: absolute;
    top: calc(100% - 10px);
    border-radius: 3px;
    width: 100%;
    background: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #c9c9c9;
    max-height: 300px;
    overflow-y: auto;
}

.jam-form-input-dropdown ul li {
    padding: 10px;
}

.jam-form-input-dropdown ul li:not(:last-child) {
    border-bottom: 1px solid black;
}

.jam-form-input-dropdown ul li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.jam-form-input-dropdown ul li.selected {
    background-color: rgba(0, 0, 0, 0.05);
}

.removable-list-entry {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 7px 13px;
    border: 1px solid #c9c9c9;
    position: relative;
    margin-top: 5px;
}
.removable-list-entry span {
    margin-left: 0px;
}

.removable-list-entry button, .removable-list-entry .remove-icon {
    border: 1px solid #efffff;
    border-radius: 300px;
    font-size: 15px;
    color: black;
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
    line-height: 10px;
    text-align: center;
    vertical-align: middle;
}

.group-chat-pic {
    border: 5px solid #111;
    border-radius: 300px;
}

.edit-btn {
    border: none;
}

.removable-list-entry .remove-icon:hover {
    cursor: pointer;
}

.chatroom-entry {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 60px;
    padding: 14px 12px;
    font-size: 16pt;
    word-wrap: break-word;
}
.chatroom-entry:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.chatroom-entry:hover {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.chatroom-entry span {
    margin: 0px;
}

.chatroom-member-entry {
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 4px;
    margin-right: 10px;
    font-size: 14pt;
    display: block;
    color: black;
    text-decoration: none;
}
.chatroom-member-entry:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
    color: black;
}

/*
.heroimage {
    background-image: url("./test.JPG");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .herotext {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 2px 5px;
    padding: 5px 10px;
    color: white;
    transition-duration: 0.4s;
    border-radius: 12px;
}

.edit-btn1 {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.edit-btn1:hover {
    background-color: #3085d6;
    color:white;
    border: 2px solid #3085d6;
}

.member-entry {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 7px 13px;
    border: 1px solid #c9c9c9;
    position: relative;
    margin-top: 5px;
}
*/